# Python proyect

In [484]:
# Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [485]:
#Read datasets and view them
venta = pd.read_csv('datasets\Ventas.csv')
articulo = pd.read_csv('datasets\Articulos.csv')
cliente = pd.read_csv('datasets\Clientes.csv')

In [486]:
venta.head()

,Numero_Cliente,Familia_Comercial,Cadena_Comercial,Rama,Tipo,Mov,MovId,SKU,Articulo,lll,...,IEPS_Cuota,ImporteTotal,Costo_Unitario,Costo_Total,CostoProduccionUnitario,CostoProduccion,Sucursal,FechaEmision,FechaRequerida,Almacen
0,777,MAYORISTAS,MAYORISTAS,CLME,Exportacion,Factura Com.Ext33,FCREM6,10822,RM00010822,---,...,0,9767.7408,0.4045,6796.3762,0.3491,5864.88,60,44235,44235,REM12
1,581,OTROS,OTROS,INTERCOMPA,Intercompañia,Factura,FREM1,574,RM00000574,---,...,0,1276.0000,0.0000,0.0000,0.0000,0.00,60,44236,44236,REM04
2,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM9,10473,RM00010473,---,...,0,17821.4400,0.3963,10386.2304,0.0000,0.00,60,44237,44237,REM12
3,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10176,RM00010176,---,...,0,2950.6000,0.0840,1679.8120,0.0548,1096.00,60,44237,44236,REM12
4,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10650,RM00010650,---,...,0,3520.0000,0.0950,3040.0000,0.1100,3520.00,60,44237,44236,REM12

In [487]:
articulo.head()

,Articulo,Desc_Articulo,Familia
0,RM00010822,TAPA ROSCA PEAD 56 BC BLANCA CAJA 7.5 GR,TAPAS Y ASAS
1,RM00000574,SERVICIO DE ENTREGA,SERVICIOS
2,RM00010473,BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPAREN...,BOTELLAS SOPLADAS
3,RM00010176,TAPA ROSCA PEAD 28 BC BLANCA BOLSA 1.8 GR,TAPAS Y ASAS
4,RM00010650,TAPA ROSCA #26 SC CNS BLANCA,REVENTA

In [488]:
cliente.head()

  Numero_Cliente                      Nombre_Cliente
0            777  RECURSOS NATURALES PARA LA VIDA SA
1            581                    PLANTA HBS-DELLI
2            915       FABIAN FRANCISCO CHI TIN66193
3            851                  HIELOS DE PALENQUE
4            888         PRODUCTOS QUIMICOS LA ANITA

In [489]:
#Making column names 'Python friendly'
venta.columns = venta.columns.str.lower().str.replace(' ', '_')
articulo.columns = articulo.columns.str.lower().str.replace(' ', '_')
cliente.columns = cliente.columns.str.lower().str.replace(' ', '_')

#Making a new Df with Df names and column names to check
venta_colnames = pd.DataFrame({'Df_name': 'venta', 'Column_name': venta.columns})
articulo_colnames= pd.DataFrame({'Df_name': 'articulo', 'Column_name': articulo.columns})
cliente_colnames = pd.DataFrame({'Df_name': 'cliente', 'Column_name': cliente.columns})

df_col_names = pd.concat([venta_colnames, articulo_colnames, cliente_colnames], ignore_index = True)
#df_col_names = df_col_names.groupby('Df_name')['Column_name'].apply(list).reset_index()
#ls_col_names = df_col_names.groupby('Df_name')['Column_name'].apply(list).reset_index().values.tolist()
#ls_col_names
df_col_names

     Df_name              Column_name
0      venta           numero_cliente
1      venta        familia_comercial
2      venta         cadena_comercial
3      venta                     rama
4      venta                     tipo
5      venta                      mov
6      venta                    movid
7      venta                      sku
8      venta                 articulo
9      venta                      lll
10     venta              propiedades
11     venta                 cantidad
12     venta                       um
13     venta       cantidadsecundaria
14     venta             umsecundaria
15     venta             factorlitros
16     venta                   precio
17     venta                 subtotal
18     venta          descuentolineal
19     venta                      iva
20     venta                     ieps
21     venta               ieps_cuota
22     venta             importetotal
23     venta           costo_unitario
24     venta              costo_total
25     venta  costoproduccionunitario
26     venta          costoproduccion
27     venta                 sucursal
28     venta             fechaemision
29     venta           fecharequerida
30     venta                  almacen
31  articulo                 articulo
32  articulo            desc_articulo
33  articulo                  familia
34   cliente           numero_cliente
35   cliente           nombre_cliente

In [490]:
#Making a join Df to merge all data frames in a sigle one

#To do it, first check if there are na values in key columns
key_values = pd.concat([venta['articulo'], venta['numero_cliente'], articulo['articulo'], cliente['numero_cliente']])
key_values_count = key_values.isna().sum()

if key_values_count > 0:
    print(f'\033[96m\nThere are {key_values_count} na values in key columns, be carefull when you join it\n')
else:
    print(f'\033[96m\nThere are no na values in key columns, make your join c:\n')

There are no na values in key columns, make your join c:

In [514]:
#Join all data frames
full0 = pd.merge(venta, articulo, on ='articulo')
full = pd.merge(full0, cliente, on = 'numero_cliente')
full.head()

,numero_cliente,familia_comercial,cadena_comercial,rama,tipo,mov,movid,sku,articulo,lll,...,costo_total,costoproduccionunitario,costoproduccion,sucursal,fechaemision,fecharequerida,almacen,desc_articulo,familia,nombre_cliente
0,777,MAYORISTAS,MAYORISTAS,CLME,Exportacion,Factura Com.Ext33,FCREM6,10822,RM00010822,---,...,6796.3762,0.3491,5864.88,60,44235,44235,REM12,TAPA ROSCA PEAD 56 BC BLANCA CAJA 7.5 GR,TAPAS Y ASAS,RECURSOS NATURALES PARA LA VIDA SA
1,581,OTROS,OTROS,INTERCOMPA,Intercompañia,Factura,FREM1,574,RM00000574,---,...,0.0000,0.0000,0.00,60,44236,44236,REM04,SERVICIO DE ENTREGA,SERVICIOS,PLANTA HBS-DELLI
2,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM9,10473,RM00010473,---,...,10386.2304,0.0000,0.00,60,44237,44237,REM12,BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPAREN...,BOTELLAS SOPLADAS,FABIAN FRANCISCO CHI TIN66193
3,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10176,RM00010176,---,...,1679.8120,0.0548,1096.00,60,44237,44236,REM12,TAPA ROSCA PEAD 28 BC BLANCA BOLSA 1.8 GR,TAPAS Y ASAS,FABIAN FRANCISCO CHI TIN66193
4,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10650,RM00010650,---,...,3040.0000,0.1100,3520.00,60,44237,44236,REM12,TAPA ROSCA #26 SC CNS BLANCA,REVENTA,FABIAN FRANCISCO CHI TIN66193

## Dataset cleaning

* ### Validating data type

In [515]:
#Summary of columns and data types
full.dtypes

numero_cliente              object
familia_comercial           object
cadena_comercial            object
rama                        object
tipo                        object
mov                         object
movid                       object
sku                         object
articulo                    object
lll                         object
propiedades                 object
cantidad                   float64
um                          object
cantidadsecundaria         float64
umsecundaria                object
factorlitros                 int64
precio                     float64
subtotal                   float64
descuentolineal            float64
iva                        float64
ieps                         int64
ieps_cuota                   int64
importetotal               float64
costo_unitario             float64
costo_total                float64
costoproduccionunitario    float64
costoproduccion            float64
sucursal                     int64
fechaemision                 int64
fecharequerida               int64
almacen                     object
desc_articulo               object
familia                     object
nombre_cliente              object
dtype: object

In [516]:
#numero_cliente should be numeric type
#function that return a subset data frame(df) with non-numeric values in a column(col)
def filter_non_numeric(df, col):
    non_numeric_mask = df[col].apply(lambda x: not str(x).isnumeric())
    filtered_df = df[non_numeric_mask]
    return filtered_df

In [517]:
#With filter_non_numeric function find all rows that 'numero_cliente' are not numeric, and articles in this query are not sellables. It will remove
non_num_df = filter_non_numeric(full, 'numero_cliente')
print(non_num_df['numero_cliente'].unique())
non_num_df
#All articles are not sellable, so it will removed and change 'numero_cliente' data type
full = full[full['numero_cliente'] != 'REMSA']
full['numero_cliente'] = full['numero_cliente'].astype(int)

['REMSA']

In [518]:
#'fechaemision' and 'fecharequerida' should be datetime
full['fechaemision'] = pd.to_datetime(full['fechaemision'], unit='D', origin='1899-12-30')
full['fecharequerida'] = pd.to_datetime(full['fecharequerida'], unit='D', origin='1899-12-30')

* ### Cleaning na values

In [519]:
#Summary of columns with na values
na_columns = full.isnull().sum()
na_columns[na_columns > 0]

propiedades       38
um                38
umsecundaria    6066
almacen           38
familia            3
dtype: int64

In [520]:
#Checking 'propiedades' na values
p_na = full[full['propiedades'].isna()]
p_na['desc_articulo'].unique()

array(['BONIFICACION POR NOTA DE CREDITO'], dtype=object)

In [521]:
#'propiedades' na values are not real articles, don't need it. It will remove
full = full.dropna(subset = ['propiedades'])

In [522]:
#um and almacen na were gone when remove propieades's na. Great
na_columns = full.isnull().sum()
na_columns[na_columns > 0]

umsecundaria    6028
familia            3
dtype: int64

In [523]:
#Checking 'umsecundaria' na values
umsec_na = full[full['umsecundaria'].isna()]
print(umsec_na['um'].unique())

#Checking 'umsecundaria' na values where 'um' = 'SR'
umsec_na = umsec_na[umsec_na['um'] == 'SR']
print(umsec_na['desc_articulo'].unique())

['SR' 'PZA']
['SERVICIO DE ENTREGA']

In [524]:
#Articles where umsecundaria is na and um is 'SR' are services. Don't need it. It will remove
full = full[~(full['umsecundaria'].isna() & (full['um'] == 'SR'))]

In [525]:
#Checking 'umsecundaria' na values where 'um' = 'PZA'
umsec_na = full[full['umsecundaria'].isna()]
print(umsec_na['desc_articulo'].unique())

['BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPARENTE 11.5 GR'
 'GARRAFON PET 20 L 56 MM ROSA CON ASA ROSA PASTEL 740 GR'
 'GARRAFA PEAD DE 3.785 L 38 MM VERDE AGUAMARINA 130 GR'
 'GARRAFA PEAD 3.785 L 38 MM NATURAL 130 GR'
 'GARRAFON PET 20 L 56 MM AZUL CON ASA AZUL 740 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 AZUL COBALTO 15.5 GR'
 'GARRAFA PET 3.785 L 48 MM MOD CUADRADA CON ASA BLANCA TRANSPARENTE 80 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 TRANSPARENTE 24.5 GR S'
 'GARRAFA PET 5LT 80GR TRANSPARENTE SIN ASA REMSA'
 'GARRAFA PET 5 L 48 MM MOD CUADRADA CON ASA BLANCA TRANSPARENTE 80 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-43 TRANSPARENTE 32 GR'
 'GARRAFON PET 20 L 56 MM MOD. ELECTRON AZUL CON ASA BLANCA 740 GR'
 'BOTELLA PET 1000 ML 26 BC MOD 1000-26 TRANSPARENTE 18.5 G'
 'BOTELLA PET 148 ML 28 BL MOD. 148-24 TRANSPARENTE 19 GR'
 'BOTELLA PET 250 ML 28 BC MOD. JUGOS TRANSPARENTE 15 GR I'
 'BOTELLA PET 500 ML 28 BL MOD 500-BOSTON LISA TRANSPARENTE 24 GR'
 'GARRAFA PET 6 L 48 MM MOD CUADRADA SIN ASA TRANSPARENTE 86 GR'
 'BOTELLA PET 980 ML 28 BL MOD. LICORERA TRANSPARENTE 54 GR'
 'BOTELLA PET 350 ML 28 BC MOD. 350-16 TRANSPARENTE 15 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-78 TRANSPARENTE 24.5 GR'
 'GARRAFA PEAD 2 L 38 MM BLANCA 80GR'
 'GARRAFA PEAD 3.785 L 38 MM NATURAL 90 GR'
 'GARRAFA PET 6 L 48 MM MOD CUADRADA SIN ASA TRANSPARENTE 80 GR'
 'BOTELLA PET 2 L 28 BL MOD. FONDO PLANO HORCHATA BOPP TRANSPARENTE 52 GR'
 'BOTELLA PET 250 ML 28 BC MOD. 250-63 FRASCO TRANSPARENTE 19 GR'
 'BOTELLA PET 750 ML 28 BC MOD LICORES TRANSPARENTE 24.5 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-43 TRANSPARENTE 15.5 GR S'
 'GARRAFA PEAD 1.893 L 38 MM MOD. MEDIO GALON NATURAL 55GR'
 'BOTELLA PET 980 ML 28 BL MOD. 980 TRANSPARENTE 40 GR S'
 'BOTELLA PET 980 ML 28 BL MOD. 980 TRANSPARENTE 41 GR I'
 'GARRAFON PET 20 L 56 MM AGUAMAR CON ASA AGUAMAR 740 GR'
 'BOTELLA PET 250 ML 28 BC MOD. JUGOS TRANSPARENTE 15.5 GR S'
 'GARRAFON PET 20 L 56 MM TRANSPARENTE CON ASA AZUL GENERICO 740 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 ZETA AZUL  15.5 GR'
 'BOTELLA PET 1000 ML 28 BL MOD 1000-80 ZETA AZUL 24.5 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 TRANSPARENTE 15.5 GR S'
 'BOTELLA PET 500 ML 28 BC MOD 500-TORNADO TRANSPARENTE 15 GR'
 'GARRAFON PET 20 L 56 MM MOD. JUNGHANNS AZUL CON ASA AZUL 740 GR'
 'BOTELLA PET 500 ML 28 BC MOD TORNADO TRANSPARENTE 15.5 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-LICORES TRANSPARENTE 33.5 GR'
 'BOTELLA PET 250 ML 28 BC MOD CAMPANA TRANSPARENTE 17 GR'
 'BOTELLA PET 1000 ML 28 BL MOD  BOSTON LISA TRANSPARENTE 37 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-50 TRANSPARENTE 15.5 GR'
 'BOTELLA PET 250ML MOD.ADEREZOS' 'BOTELLA PET 355ML MOD.ADEREZOS'
 'BOTELLA PET 500ML MOD ADEREZOS'
 'BOTELLA PET 2 L 28 BL MOD. FONDO PLANO JAMAICA BOPP TRANSPARENTE 52 GR'
 'BOTELLA PET 1000 ML 28 BC MOD PIÑA TRANSPARENTE 32 GR'
 'BOTELLA PET 980 ML 28 BL MOD. 980 TRANSPARENTE 37 GR S'
 'GARRAFA PET 2 L 28 BL MOD SIN ASA TRANSPARENTE 52 GR'
 'BOTELLA PET 2 L 28 BL MOD. FONDO PLANO HORCHATA COCO TRANSPARENTE 52 GR'
 'BOTELLA PET 2 L 28 BL MOD. FONDO PLANO TAMARINDO BOPP TRANSPARENTE 52 GR'
 'GARRAFA PEAD 3.785L 38 MM BLANCA 110GR'
 'GARRAFON PET 20 L 56 MM MOD. BONAGUA VERDE AGUAMAR CON ASA VERDE 740 GR'
 'BOTELLA PET 1000 ML 28 BL MOD 1000-43 TRANSPARENTE 34 GR'
 'BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPARENTE 9.9 GR'
 'BOTELLA PET 500 ML 28 BC MOD CAMPANA TRANSPARENTE 24.5 GR'
 'GARRAFA PEAD 3.785 L 38 MM BLANCA 130GR'
 'GARRAFON PET 20 L 56 MM MOD. SAN ANDRES AZUL COBALTO CON ASA BLANCA 740 GR'
 'GARRAFON PET 20 L 56 MM MOD. SAN ANDRES AZUL COBALTO CON ASA AZUL MARINO 740 GR'
 'BOTELLA PET 980 ML 28 BL MOD. LICORERA TRANSPARENTE 52 GR'
 'BOTELLA PET 2 L 28 BL MOD. FONDO PLANO P/ETIQUETAR YUS TRANSPARENTE 52 GR'
 'PREFORMA DE 80 GRS BOCA 48 TRANSPARENTE'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 ELECTROPAX AZUL 15.5 GR'
 'GARRAFA PEAD 3.785 L 38 MM NATURAL 110 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 TRANSPARENTE 23.5 GR I'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-21 TRANSPARENTE 24.5 GR'
 'BOTELLA PET 1000 ML 28 BL MOD 1000-78 AZUL 25.5 GR'
 'GARRAFA PEAD 1.893 L 38 MM NATURAL 70 G'
 'GARRAFON PET 20 L 56 MM MOD. BIBE AZUL GENERICO CON ASA VERDE 740 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 SAN ANDRES AZUL COBALTO 15.5 GR'
 'GARRAFA PET 5 LTS 48MM MOD REDONDA CON ASA BLANCA TRANSPARENTE 80 GRS\t'
 'GARRAFA PET 1.893 L 48 MM MOD MEDIO GALON TRANSPARENTE 80 GR'
 'BOTELLA PET 2 L 28 BL MOD.  FONDO PLANO TRANSPARENTE 52 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 MAHEKAL TRANSPARENTE 15.5 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 AVENTURAS MAYAS TRANSPARENTE 15.5 GR'
 'BOTELLA PET 350 ML 28 BC MOD. TROPICAL SAN ANDRES AZUL COBALTO 15.5 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 TRANSPARENTE 15.5 GR I'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 AZUL 15.5 GR'
 'PREFORMA PET 26 MM 11.5 GR TRANSPARENTE REMSA'
 'GARRAFA PET 6 L 48 MM MOD REDONDO SIN ASA TRANSPARENTE 80GR'
 'GARRAFON PET 20 L 56 MM MORADO CON ASA BLANCA GLACIAR 740 GR'
 'BOTELLA PET 1500 ML 28 BC MOD. 1500-37 AGUA AZUL AZUL 34 GR'
 'BOTELLA PET 500-45 ML BC 15.5 G TRANSPARENTE P/ETIQUETAR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-65 AGUA AZUL AZUL 24.5 GR'
 'TAPA ROSCA PEAD 28 BC MOD. CORTA BLANCA CAJA 1.8 GR'
 'GARRAFA PET 2 L 28 BL SIN ASA TRANSPARENTE 52 GR'
 'BOTELLA PET 200 ML 28 BC MOD. PACHITA TRANSPARENTE 24.5 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 TRANSPARENTE 27 GR'
 'BOTELLA PET 500 ML 28 BC MOD TORNADO MAHEKAL TRANSPARENTE 15.5 GR'
 'BOTELLA PET 350 ML 28 BC MOD. 350-16 AZUL 15 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-43 TRANSPARENTE 15.5 GR I'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 TRANSPARENTE 20.5 GR'
 'GARRAFA PET 5 LT 48 MM MOD SLIM TRANSPARENTE 118 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-73 AGUA AZUL AZUL 15.5 GR'
 'BOTELLA PET 750 ML 28 BC MOD LICORES TRANSPARENTE 32 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-43 TRANSPARENTE 33.5 GR\t'
 'GARRAFA PET 3.785 L 48 MM MOD REDONDA CON ASA BLANCA TRANSPARENTE 80 GR'
 'TAPA ROSCA PEAD 38 BC MOD. QUIMICOS ROJA C/LINER 2.5 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-43 TRANSPARENTE 18 GR'
 'GARRAFA PEAD 2 L 38 MM NATURAL 80 GR'
 'GARRAFA PET 6 L 48 MM MOD REDONDO SIN ASA TRANSPARENTE 118 GR'
 'BOTELLA PET 250 ML 28 BC MOD. JUGOS TRANSPARENTE 13 GR S'
 'TAPA ROSCA PEAD 38 BC MOD QUIMICOS NATURAL C/LINER 2.5 GR'
 'BOTELLA PET 700 ML 28 BL MOD. GREKAS TRANSPARENTE 24.5 GR'
 'BOTELLA PET 1000 ML 28BC MOD PIÑA TRANSPARENTE 33.5 GR'
 'TAPA ROSCA PEAD 50 MM AMARILLA IND BOLSA 4.6 GR'
 'LICORERA PET 1000ML 28BL MOD ELEGANT TRANSPARENTE 52GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 AGUA AZUL AZUL 24.5 GR'
 'BOTELLA PET 1000 ML 28 BC MOD BOSTON LISA TRANSPARENTE 27 GR'
 'BOTELLA PET 500 ML 26 BC MOD 500-26 MAHEKAL TRANSPARENTE 11.5GR'
 'LICORERA PET 1000ML 28BL MOD ELEGANT TRANSPARENTE 51GR'
 'BOLSA  PARA 2.0 LTS. DE 90 + 20 X 150  CAL 200'
 'PREFORMA PET 48 MM 80 GR TRANSPARENTE REMSA'
 'BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPARENTE 10.5 GR'
 'PREFORMA PET 10.5 GR 26 MM BC TRANSPARENTE REMSA'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 AGUA AZUL AZUL 27 GR'
 'BOTELLA PET 2 L 28 BL MOD FONDO PLANO P/ETIQUETAR TRANSPARENTE 52 GR'
 'LICORERA PET 1000ML 28BL MOD ELEGANT NEGRA 51 GR'
 'BOTELLA PET 1000 ML 28 BC MOD 1000-80 ZETA AZUL 27 GR'
 'BOTELLA PET 350 ML BC MOD 350-16 TRANSPARENTE 15.5 GR'
 'BOTELLA PET 500 ML 26 BC MOD 500-26 MAHEKAL TRANSPARENTE 10.5 GR'
 'BOTELLA PET 500ML 28BC MOD 500-45 AGUA AZUL TRANSPARENTE 15.5GR'
 'BOTELLA PET 500ML 28BC MOD 500-45 AGUA AZUL AZUL 15.5GR'
 'GARRAFA PET 3.785 LTS 48MM MOD GALON RECTANGULAR RPT TRANSPARENTE 80 GR'
 'BOTELLA PET 1000 ML 28BC MOD 1000-80 ZETA AZUL 24.5'
 'BOTELLA PET 980 ML SC MOD 980 TRANSPARENTE 27 GR'
 'ACEITE SINTETICO 19 LT RAP-46'
 'MAQ 1 SC28-C-AM TAPA SHORT CAP 28MM AMARILLO'
 'BOTELLA PET 360 ML 28 BC MOD LICORES TRANSPARENTE 16 GR'
 'PREFORMA PET 48 MM 72 GR TRANSPARENTE REMSA'
 'LICORERA PET 1000ML 28BL MOD ELEGANT PT TRANSPARENTE 37 GR'
 'BOTELLA PET 250 ML 26 BC MOD JUGOS TRANSPARENTE 10.5 GR'
 'GARRAFA PET 3.785 L 48 MM MOD CUADRADA CON ASA BLANCA AZUL 80 GR'
 'BOTELLA PET 350 ML BC MOD 350-16 AZUL 15 GR'
 'BOTELLA PET 1000 ML 28 BL MOD 1000-43 TRANSPARENTE 37 GR'
 'PREFORMA 660 GRS P/GARRAFON AZUL C/ROSCA REMSA'
 'PREFORMA 700 GRS P/GARRAFON AZUL C/ROSCA REMSA'
 'ASA 56 MM AZUL GENERICO P/GARRAFON PET 40 GR'
 'BOTELLA PET 1000 ML 28 BL MOD LICORERA TRANSPARENTE 51 GR'
 'BOTELLA PET 700 ML 28 BC MOD. GREKAS TRANSPARENTE 32 GR'
 'BOTELLA PET 500 ML 28 BC MOD 500-45 P/ETIQUETAR AZUL 15.5 GR'
 'ARTICULO DE PRODUCCION GENERICO REMSA']

In [526]:
#Articles where 'umsecundaria' is na and 'um' is 'PZA' are sellable, so replace na values with 'PZA'
full['umsecundaria'] = full['umsecundaria'].fillna('PZA')
na_columns = full.isnull().sum()
na_columns[na_columns > 0]

familia    3
dtype: int64

In [527]:
#Finally onlu there are na values in 'familia column'
#checking 'familia' na values
fam_na = full[full['familia'].isna()]
fam_na['desc_articulo'].unique()

array(['ARTICULO DE PRODUCCION GENERICO REMSA'], dtype=object)

In [528]:
#Articles where 'familia' is na and. are not seallable. It will remove
full = full.dropna(subset = ['familia'])
na_columns = full.isnull().sum()
na_columns[na_columns > 0]

Series([], dtype: int64)