# Python proyect

In [28]:
# Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [29]:
#Read datasets and view them
venta = pd.read_csv('datasets\Ventas.csv')
articulo = pd.read_csv('datasets\Articulos.csv')
cliente = pd.read_csv('datasets\Clientes.csv')

In [30]:
venta.head()

,Numero_Cliente,Familia_Comercial,Cadena_Comercial,Rama,Tipo,Mov,MovId,SKU,Articulo,lll,...,IEPS_Cuota,ImporteTotal,Costo_Unitario,Costo_Total,CostoProduccionUnitario,CostoProduccion,Sucursal,FechaEmision,FechaRequerida,Almacen
0,777,MAYORISTAS,MAYORISTAS,CLME,Exportacion,Factura Com.Ext33,FCREM6,10822,RM00010822,---,...,0,9767.7408,0.4045,6796.3762,0.3491,5864.88,60,44235,44235,REM12
1,581,OTROS,OTROS,INTERCOMPA,Intercompañia,Factura,FREM1,574,RM00000574,---,...,0,1276.0000,0.0000,0.0000,0.0000,0.00,60,44236,44236,REM04
2,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM9,10473,RM00010473,---,...,0,17821.4400,0.3963,10386.2304,0.0000,0.00,60,44237,44237,REM12
3,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10176,RM00010176,---,...,0,2950.6000,0.0840,1679.8120,0.0548,1096.00,60,44237,44236,REM12
4,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10650,RM00010650,---,...,0,3520.0000,0.0950,3040.0000,0.1100,3520.00,60,44237,44236,REM12

In [31]:
articulo.head()

,Articulo,Desc_Articulo,Familia
0,RM00010822,TAPA ROSCA PEAD 56 BC BLANCA CAJA 7.5 GR,TAPAS Y ASAS
1,RM00000574,SERVICIO DE ENTREGA,SERVICIOS
2,RM00010473,BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPAREN...,BOTELLAS SOPLADAS
3,RM00010176,TAPA ROSCA PEAD 28 BC BLANCA BOLSA 1.8 GR,TAPAS Y ASAS
4,RM00010650,TAPA ROSCA #26 SC CNS BLANCA,REVENTA

In [32]:
cliente.head()

  Numero_Cliente                      Nombre_Cliente
0            777  RECURSOS NATURALES PARA LA VIDA SA
1            581                    PLANTA HBS-DELLI
2            915       FABIAN FRANCISCO CHI TIN66193
3            851                  HIELOS DE PALENQUE
4            888         PRODUCTOS QUIMICOS LA ANITA

In [52]:
#Making column names 'Python friendly'
venta.columns = venta.columns.str.lower().str.replace(' ', '_')
articulo.columns = articulo.columns.str.lower().str.replace(' ', '_')
cliente.columns = cliente.columns.str.lower().str.replace(' ', '_')

#Making a new Df with Df names and column names to check
venta_colnames = pd.DataFrame({'Df_name': 'venta', 'Column_name': venta.columns})
articulo_colnames= pd.DataFrame({'Df_name': 'articulo', 'Column_name': articulo.columns})
cliente_colnames = pd.DataFrame({'Df_name': 'cliente', 'Column_name': cliente.columns})

all_col_names = pd.concat([venta_colnames, articulo_colnames, cliente_colnames], ignore_index = True)
all_col_names

     Df_name              Column_name
0      venta           numero_cliente
1      venta        familia_comercial
2      venta         cadena_comercial
3      venta                     rama
4      venta                     tipo
5      venta                      mov
6      venta                    movid
7      venta                      sku
8      venta                 articulo
9      venta                      lll
10     venta              propiedades
11     venta                 cantidad
12     venta                       um
13     venta       cantidadsecundaria
14     venta             umsecundaria
15     venta             factorlitros
16     venta                   precio
17     venta                 subtotal
18     venta          descuentolineal
19     venta                      iva
20     venta                     ieps
21     venta               ieps_cuota
22     venta             importetotal
23     venta           costo_unitario
24     venta              costo_total
25     venta  costoproduccionunitario
26     venta          costoproduccion
27     venta                 sucursal
28     venta             fechaemision
29     venta           fecharequerida
30     venta                  almacen
31  articulo                 articulo
32  articulo            desc_articulo
33  articulo                  familia
34   cliente           numero_cliente
35   cliente           nombre_cliente

In [53]:
#Making a Join Df to save all data in a sigle one
full0 = pd.merge(venta, articulo, on ='articulo')
full = pd.merge(full0, cliente, on = 'numero_cliente')
full.head()

,numero_cliente,familia_comercial,cadena_comercial,rama,tipo,mov,movid,sku,articulo,lll,...,costo_total,costoproduccionunitario,costoproduccion,sucursal,fechaemision,fecharequerida,almacen,desc_articulo,familia,nombre_cliente
0,777,MAYORISTAS,MAYORISTAS,CLME,Exportacion,Factura Com.Ext33,FCREM6,10822,RM00010822,---,...,6796.3762,0.3491,5864.88,60,44235,44235,REM12,TAPA ROSCA PEAD 56 BC BLANCA CAJA 7.5 GR,TAPAS Y ASAS,RECURSOS NATURALES PARA LA VIDA SA
1,581,OTROS,OTROS,INTERCOMPA,Intercompañia,Factura,FREM1,574,RM00000574,---,...,0.0000,0.0000,0.00,60,44236,44236,REM04,SERVICIO DE ENTREGA,SERVICIOS,PLANTA HBS-DELLI
2,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM9,10473,RM00010473,---,...,10386.2304,0.0000,0.00,60,44237,44237,REM12,BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPAREN...,BOTELLAS SOPLADAS,FABIAN FRANCISCO CHI TIN66193
3,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10176,RM00010176,---,...,1679.8120,0.0548,1096.00,60,44237,44236,REM12,TAPA ROSCA PEAD 28 BC BLANCA BOLSA 1.8 GR,TAPAS Y ASAS,FABIAN FRANCISCO CHI TIN66193
4,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10650,RM00010650,---,...,3040.0000,0.1100,3520.00,60,44237,44236,REM12,TAPA ROSCA #26 SC CNS BLANCA,REVENTA,FABIAN FRANCISCO CHI TIN66193