# Pythom proyect

In [2]:
# Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Read datasets and view them
venta = pd.read_csv('datasets\Ventas.csv')
articulos = pd.read_csv('datasets\Articulos.csv')
clientes = pd.read_csv('datasets\Clientes.csv')

In [6]:
venta.head()

,Numero_Cliente,Familia_Comercial,Cadena_Comercial,Rama,Tipo,Mov,MovId,SKU,Articulo,lll,...,IEPS_Cuota,ImporteTotal,Costo_Unitario,Costo_Total,CostoProduccionUnitario,CostoProduccion,Sucursal,FechaEmision,FechaRequerida,Almacen
0,777,MAYORISTAS,MAYORISTAS,CLME,Exportacion,Factura Com.Ext33,FCREM6,10822,RM00010822,---,...,0,9767.7408,0.4045,6796.3762,0.3491,5864.88,60,44235,44235,REM12
1,581,OTROS,OTROS,INTERCOMPA,Intercompañia,Factura,FREM1,574,RM00000574,---,...,0,1276.0000,0.0000,0.0000,0.0000,0.00,60,44236,44236,REM04
2,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM9,10473,RM00010473,---,...,0,17821.4400,0.3963,10386.2304,0.0000,0.00,60,44237,44237,REM12
3,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10176,RM00010176,---,...,0,2950.6000,0.0840,1679.8120,0.0548,1096.00,60,44237,44236,REM12
4,915,OTROS,EXPORTACION,CLME,Cliente,Factura Com.Ext33,FCREM10,10650,RM00010650,---,...,0,3520.0000,0.0950,3040.0000,0.1100,3520.00,60,44237,44236,REM12

In [8]:
articulos.head()

,Articulo,Desc_Articulo,Familia
0,RM00010822,TAPA ROSCA PEAD 56 BC BLANCA CAJA 7.5 GR,TAPAS Y ASAS
1,RM00000574,SERVICIO DE ENTREGA,SERVICIOS
2,RM00010473,BOTELLA PET 500 ML 26 BC MOD 500-26 TRANSPAREN...,BOTELLAS SOPLADAS
3,RM00010176,TAPA ROSCA PEAD 28 BC BLANCA BOLSA 1.8 GR,TAPAS Y ASAS
4,RM00010650,TAPA ROSCA #26 SC CNS BLANCA,REVENTA

In [9]:
clientes.head()

  Numero_Cliente                      Nombre_Cliente
0            777  RECURSOS NATURALES PARA LA VIDA SA
1            581                    PLANTA HBS-DELLI
2            915       FABIAN FRANCISCO CHI TIN66193
3            851                  HIELOS DE PALENQUE
4            888         PRODUCTOS QUIMICOS LA ANITA